[submodule "NecroBot"]
	path = NecroBot
	url = https://github.com/rajeshbaburocz/NecroBot.git
[submodule "s2-geometry-library-csharp"]
	path = s2-geometry-library-csharp
	url = https://github.com/rajeshbaburocz/s2-geometry-library-csharp.git
